<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <style>
        #app{
            width: 500px;
            margin: 10px auto;
        }
        #app div{
            float: left;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
       <!-- <div>{{title}}</div> 
        <div>
            {{test}}
        </div>
        {{checked}}
        <input type="checkbox" v-model="checked">
        <input type="text" v-model="title">
        <ul>
            <li v-for="aa in arr">
                {{aa}}
            </li>
        </ul>

        <ul>
            <li v-for='item in arr1'>
                姓名:{{item.name}}
                年龄:{{item.age}}
                性别:{{item.sex}}
            </li>
        </ul>
        姓名:
        <input type="text" v-model='userinfo.name'><br/>
        年龄:
        <input type="text" v-model='userinfo.age'><br/>
        性别:
        <input type="text" v-model='userinfo.sex'><br/>
        <button v-on:click='send'>提交</button> -->

        <div v-if='show'>v-if</div>
        <div v-show='show'>v-show</div>
        <button type="button" v-on:click='toggle'>切换</button>
    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            methods:{   //添加实例方法
                send(){
                    console.log(this.userinfo)
                    this.arr1.push(this.userinfo)
                    this.userinfo={//清空输入框
                        name:'',
                        age:'',
                        sex:''
                    }
                },
                toggle(){
                    this.show =!this.show
                }
            },
            data:{
                title:"你好vue",
                show:true,
                test:123123123,
                checked:true,
                arr:['张三','李四','王五'],
                userinfo:{
                    name:'',
                    age:'',
                    sex:''
                },
                arr1:[{
                    name:"张三",
                    age:20,
                    sex:'女'
                },{
                    name:'李四',
                    age:21,
                    sex:'男'
                }]
            }
        })

        console.log(vm)
    </script>
</body>
</html>